<div class="landing-container">
  <div>
    <h2>Sign Up</h2>
    <%= render :partial => 'users/signup_form' %>
  </div>
  <div>
    <h2>Login</h2>
    <%= render :partial => 'session/signin_form' %>  
  </div>
</div>
