<div class="pure-g landing">
  <div class="pure-u-1-12"></div>
  <div class="pure-u-5-12">
    <h2>Sign Up</h2>
    <%= render :partial => 'users/signup_form' %>
  </div>
  <div class="pure-u-5-12 verticalLine">
    <h2>Login</h2>
    <%= render :partial => 'session/signin_form' %>  
  </div>
  <div class="pure-u-1-12"></div>
</div>