<%# if @current_user.is_admin? %>
  <!-- <div> -->
    <%#= link_to 'Planes', airplanes_path  %>
  <!-- </div> -->
<%# end %>

<div class="pure-g">
  <div class="pure-u-1">
    <div id="main"></div>
  </div>
</div>

<script id="appView-template" type="text/x-template">
  <h2>Flights</h2>
  <table>
    <thead>
      <tr>
        <th>Flight name</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Departs</th>
        <th>Airplane</th>
      </tr>
    </thead>
    <tbody id="flights"></tbody>
  </table>
</script>

<script id="flightListView-template" type="text/x-underscore-template">
  <td><a href="#">{{flight_name}}</a></td>
  <td>{{origin}}</td>
  <td>{{destination}}</td>
  <td>{{moment(Date.parse(flight_date)).format('ddd DD MMM, YYYY')}}</td>
  <td>{{moment(Date.parse(flight_date)).format('h:mm a')}}</td>
  <td>{{airplane_id}}</td>
</script>

<script id="flightView-template" type="text/x-underscore-template">
  <h2>Flight {{ flight_name }}</h2>
  <p><span class="flight-details">{{origin}}</span> to <span class="flight-details">{{destination}}</span> departs at <span class="flight-details">{{moment(Date.parse(flight_date)).format('h:mm a')}}</span> on <span class="flight-details">{{moment(Date.parse(flight_date)).format('ddd DD MMM, YYYY')}}</span></p>
</script>

<script id="seatView-template" type="text/x-underscore-template">
  <div id="seat-grid">

  </div>
</script>

