<%# if @current_user.is_admin? %>
  <!-- <div> -->
    <%#= link_to 'Planes', airplanes_path  %>
  <!-- </div> -->
<%# end %>

<div id="main"></div>

<script id="appView-template" type="text/x-template">
  <h2>Flights</h2>
  <table>
    <thead>
      <tr>
        <th>Flight name</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Flight date</th>
        <th>Airplane</th>
      </tr>
    </thead>
    <tbody id="flights"></tbody>
  </table>
</script>

<script id="flightListView-template" type="text/x-underscore-template">
  <td><a href="#">{{flight_name}}</a></td>
  <td>{{origin}}</td>
  <td>{{destination}}</td>
  <td>{{flight_date}}</td>
  <td>{{airplane_id}}</td>
</script>



<script id="flightView-template" type="text/x-underscore-template">
  <h2>{{ flight_name }}</h2>
  <p><span class="flight-details">{{origin}}</span> to <span class="flight-details">{{destination}}</span> on <span class="flight-details">{{flight_date}}</span></p>
  <div id="seat-plan"></div>
</script>



