<a href="#">Home</a>

<%# if @current_user.is_admin? %>
  <!-- <div> -->
    <%#= link_to 'Planes', airplanes_path  %>
  <!-- </div> -->
<%# end %>

<div id="main"></div>

<script id="appView-template" type="text/x-template">
  <h2>Flights</h2>
  <ul id="flights"></ul>
</script>

<script id="flightListView-template" type="text/x-underscore-template">
  <h3>{{ flightName }}</h3>
  // Still need to populate list below
  <li></li>
  <li></li>
  <li></li>
</script>

<script id="flightView-template" type="text/x-underscore-template">
  <h2>{{ flightName }}</h2>
  // Add seats view
</script>