body {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  background-color: #FBFBF9;
  font-family: Helvetica, arial, sans-serif;
}

#main {
  max-width: 960px;
  background-color: #FBFBF9;
  margin: 0 auto;

}

header {
  background-color: #FBFBF9;
  border-bottom: 1px solid #FBFBF9;
  text-transform: uppercase;
}

h1 {
  display: inline-block;
  width: 30%;
  margin: 0;
  padding-left: 1em;
  vertical-align: middle;
  color: #1E587D;
}

a {
  text-decoration: none;
}


#main h2 {
  margin: 1.5em auto;
}

table {
  margin: 0 auto;
  min-width: 80%;
}

tr {
  text-align: left;
}

.verticalLine {
    border-left: 3px solid #1E587D;
}

.landing h2 {
  text-align: center;
  color: #1E587D;
}

.column {
  border: 1px solid black;
  height: 80px;
  width: 80px;
  display: inline-block;
  &:hover {
    background-color: pink;
  }
}

.unreserved {
  background-color: green;
}

.reserved {
  background-color: red;
}